CRON_API_KEY=
CRON_SECRET=
GEMINI_API_KEY=
GEMINI_API_KEY_BACKUP=
GEMINI_API_KEY_1=
GEMINI_API_KEY_2=
GEMINI_API_KEY_3=
GEMINI_API_KEY_4=
GEMINI_API_KEY_5=
GEMINI_API_KEY_6=
GEMINI_API_KEY_7=
GEMINI_API_KEY_8=
GEMINI_API_KEY_9=
GEMINI_API_KEY_10=
GROQ_API_KEY=
GROQ_API_KEY_BACKUP=
GROQ_API_KEY_1=
GROQ_API_KEY_2=
GROQ_API_KEY_3=
GROQ_API_KEY_4=
GROQ_API_KEY_5=
GROQ_API_KEY_6=
GROQ_API_KEY_7=
GROQ_API_KEY_8=
GROQ_API_KEY_9=
GROQ_API_KEY_10=
LESSON_TEMPLATE_URL=
MONGO_URL=
VAPID_PRIVATE_KEY=
VAPID_PUBLIC_KEY=
VAPID_SUBJECT=
WORD_TEMPLATE_URL=

